.info {
    height: 250px;
}

h1 {
    font-size: 20px;
    color: red;
    float: right;
}

.photo {
    float: left ;
}

h2 {
    position:absolute;
    right:1px;
    margin: 35px;
    font-size: 20px;
    font-style: italic;

}


ol {
    background-color:#bef17f;
    color:white;
}

.competences{
    width:60%;
    font-size:25px;
    float:right;
    background-color:#80acf2;
    color:white
}

.experiences{
    font-size:35px;
    width:60%;
    float:right
}

.liens {
    position:absolute;
    border: 1px solid black
}


